<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Servicio de Predicción</title>
  <!-- Agrega el enlace al archivo de estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    /* Agrega tus estilos personalizados aquí */

    body {
      background-color: #f8f9fa; /* Color de fondo gris claro */
    }

    .header {
      background-color: #007bff; /* Azul de Bootstrap */
      color: #ffffff; /* Texto blanco */
      padding: 20px;
      text-align: center;
    }

    .card-header-dark {
      background-color: #343a40; /* Gris oscuro o negro de Bootstrap */
      color: #ffffff; /* Texto blanco */
    }
  </style>
</head>

<body>

  <!-- Encabezado -->
  <div class="header">
    <h2>Servicio: Predicción de Suscripción a Depósito a Plazo Fijo</h2>
  </div>

  <!-- Card con resultados de predicción -->
  <div class="container mt-4">
    <div class="card">
      <div class="card-header card-header-dark">
       <h5>Resultados Predicción</h5> 
      </div>
      <div class="card-body">
      
        <p>El cliente <b>NO</b> se suscribe al Servicio de Depósito a plazo fijo</p>
        <p>Certeza de 99%</p>

        <button class="btn btn-primary">Imprimir resultados</button>

      </div>
    </div>
  </div>

  <!-- Agrega el enlace al archivo de scripts de Bootstrap y jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>